/* Glowing Button Styles */
.glow-button-wrapper {
  --mouse-x: 50%;
  --mouse-y: 50%;
  --opacity: 0;
  --border-radius: 0;
  --primary-color: #294932;
  --primary-color-rgb: 41, 73, 50;
  --secondary-color: var(--color-accent-yellow);
  --button-color: var(--color-primary-green);
  position: relative;
  display: inline-block;
  padding: 2px;
  background: radial-gradient(
    120px circle at var(--mouse-x) var(--mouse-y),
    rgba(var(--primary-color-rgb), calc(0.1 * var(--opacity))) 0%,
    rgba(var(--primary-color-rgb), calc(0.3 * var(--opacity))) 15%,
    rgba(var(--primary-color-rgb), 0.8) 50%
  );
  border-radius: var(--border-radius);
}

.glow-gap-filler {
  background-color: var(--secondary-color);
  padding: 3px;
  display: block;
  border-radius: var(--border-radius);
}

.glow-gap-filler button {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  --btn-mouse-x: 50%;
  --btn-mouse-y: 50%;
  border-radius: var(--border-radius);
  display: block;
  padding: 12px 35px;
  border: none;
  background-color: var(--button-color);
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  position: relative;
  background-size: auto, auto;
  background-repeat: no-repeat, no-repeat;
  transition: background-color 0.2s ease-in-out;
}
