.works-navigation {
  display: flex;
  align-items: center;
  margin: 36px 0 30px 0;
  gap: 33px;
  padding: 0 2px;
  flex-wrap: wrap;
  justify-content: center;
}

.works-navigation .works-button-wrapper.active .works-button-inner,
.works-navigation .works-button-wrapper.active .works-button-image-inner {
  background-color: var(--color-accent-yellow);
  color: var(--color-primary-green);
}

.works-navigation .works-button-wrapper.active .works-button-outline {
  border-color: var(--color-accent-yellow);
}

@media (max-width: 768px) {
  .works-navigation {
    gap: 20px;
    margin: 30px 0 25px 0;
  }
}
