:root {
  --color-primary-cream: #FFF8F0;
  --color-primary-green: #294932;
  --color-accent-yellow: #e4c464;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Source Serif 4", serif;
  font-weight: 300;
  background-color: var(--color-primary-cream);
  color: var(--color-primary-green);
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 1;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}