:root {
  --color-primary-cream: #f8e7d4;
  --color-primary-green: #294932;
  --color-accent-yellow: #e4c464;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::selection {
  background-color: var(--color-accent-yellow);
}


body {
  font-family: "Source Serif 4", serif;
  font-weight: 300;
  background-image: url('assets/images/bg.webp');
  background-size: auto;
  background-position: center;
  background-attachment: fixed;
  color: var(--color-primary-green);
  margin: 0;
  padding: 0;
  position: relative;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary-cream);
  opacity: 0.62;
  z-index: -1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 1;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}